:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

img.person-avatar {
    border-radius: 20px;
}

.sort-asc::after, .sort-desc::after  {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    height: 20px;
    width: 20px;
    background-image: url('/assets/arrow-up.svg');
    background-repeat: no-repeat;
    top: 50%;
    transform: translate(0, -50%);
}

.sort-desc::after {
    transform: rotate(180deg);
    top: calc(50% - 15px);
    right: 10px;
}

.list-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(48, 54, 66, 0.11), 0px 2px 2px rgba(48, 54, 66, 0.1);
    border: 1px solid #E3E6EF;
    padding: 24px;
}

table {
    border-collapse: collapse;
}

.header-row {
    background-color: #F1F4F8;
    height: 44px;
}

td {
    padding: 12px;
    position: relative;
}

tr {
    border-bottom: 1px #E3E6EF solid;
}

tr:hover {
    background-color: #F1F4F8;
    cursor: pointer;
}

.number-badge {
    display: block;
    border: 1px solid #E3E6EF;
    padding: 7px 9px;
    border-radius: 7px;
}

.remove-btn, .edit-btn, .ellipsis-btn {
    all: unset;
    margin: 4px;
}

.ellipsis-btn {
    display: none;
}

@media only screen and (max-width: 576px) {
    .list-container {
        padding: 0;
    }

    h3 {
        padding: 12px 16px;
        font-size: 24px;
    }

    table {
        border: 1px #E3E6EF solid;

    }

    thead {
        display: none;
    }

    .id-cell, .edit-btn, .remove-btn {
        display: none;
    }

    .ellipsis-btn {
        display: inline;
    }

    .person-avatar {
        display: none;
    }

    tr {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 16px;
    }

    .person-cell {
        order: 1;
        width: 60%;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;

    }

    .date-cell {
        order: 2;
        width: 23%;
        font-size: 12px;
        display: flex;
        align-content: center;
    }
    .button-cell {
        order: 3;
        width: 17%;
        text-align: end;
    }

    .city-cell {
        order: 4;
        width: 30%;
        font-size: 12px;
        line-height: 16px;
        width: 15%;
        color:  #555D71;
    }
    
    .country-cell {
        order: 5;
        width: 30%;
        font-size: 12px;
        line-height: 16px;
        width: 35%; 
        color:  #555D71;
    }

}
