<div class="list-container">
    <h3>Attendees (<ng-container *ngIf="count$">{{count$ | async}}</ng-container>)</h3>
<table>
    <thead>
        <tr class="header-row">
            <td></td>
            <td>Name</td>
            <td>Date of birth</td>
            <td>City</td>
            <td>Country</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of attendees">
           <ng-container [ngTemplateOutlet]="(!isEditMode || person !== editedPerson) ? viewTmp : editTmpl"
            [ngTemplateOutletContext]="{ person }">
           </ng-container>

           <ng-template let-person="person" #viewTmp>
                <td class="id">
                    <span class="number-badge">#{{person.id}}</span>
                </td>
                <td>
                    <img class="person-avatar"[src]="person.avatar" width="20px" height="20px"> 
                    {{person.name}}
                </td>
                <td>{{person.dateOfBirth | date: 'd/M/yyyy'}}</td>
                <td>{{person.city}}</td>
                <td>{{person.country}}</td>
                <td>
                    <button (click)="enterEdit(person)" class="edit-btn" ><img src="assets/pencil.svg"></button>
                    <button (click)="removeAttendee(person.id)" class="remove-btn"><img src="assets/bin.svg"></button>
                </td>
           </ng-template>

           <ng-template #editTmpl let-person="person">
            <td class="id">
                <span class="number-badge">#{{person.id}}</span>
            </td>
            <td>
                <img class="person-avatar"[src]="person.avatar" width="20px" height="20px"> 
                <input input [(ngModel)]="editedPerson.name">
            </td>
            <td><input [(ngModel)]="editedPerson.dateOfBirth"></td>
            <td><input [(ngModel)]="editedPerson.city"></td>
            <td><input [(ngModel)]="editedPerson.country"></td>
            <td>
                <button (click)="saveEdit(person)" class="edit-btn"><img src="assets/tick.svg"></button>
                <button (click)="cancelEdit()" class="remove-btn"><img src="assets/x.svg"></button>
            </td>
           </ng-template>

           
        </tr>
    </tbody>
</table>

<app-pagination [lastPage]="lastPage-1" (page)="switchPage($event)"></app-pagination>
</div>
