img {
    border-radius: 20px;
}


@media only screen and (max-width: 576px) {
    thead {
        display: none;
    }

    .id {
        display: none;
    }

    .person-avatar {
        display: none;
    }
}
