.selected {
    background-color: #D63D00;
}

.pagination-container {
    display: flex;
    justify-content: center;
}

button {
    all: unset;
    border-radius: 4px;
    padding: 6px 11.5px;
    border: none;
    cursor: pointer;  
}

.three-dot {
    padding: 6px 11.5px;
}